includes:
    # Note: these rules are inside the docker container
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - public
        - src
        - tests
    excludePaths:
        # config file for Easy Coding Standard, not a project file
        - ./ecs.php

    # Level 8 is the highest level
    level: 8

    ignoreErrors:
        -
            message: '#Cannot call method prepare\(\) on null\.#'
            path: build_db.php
