includes:
    # Note: these rules are inside the docker container
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - public
#        - src
#        - tests
    excludePaths:
        # config file for Easy Coding Standard, not a project file
        - ./ecs.php

    # Level 8 is the highest level
    level: 8

    # TODO: These files will be refactored
    ignoreErrors:
        -
            message: '#Variable \$\w+ might not be defined.#'
            paths:
                - database_connection.php
                - public/fetch.php
                - public/action.php
                - build_db.php
        -
            message: '#Cannot call method prepare\(\) on null.#'
            path: build_db.php
        -
            message: '#Undefined variable: \$connect#'
            path: tests/FetchTest.php
        -
            message: '#Variable \$connect in PHPDoc tag @var does not exist.#'
            path: tests/FetchTest.php

